body{
    display: inline-block;
    background: url(/freedom.jpg);
    text-align: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: #333;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
.wrapper{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    padding-top: 4rem;
}
.quote{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem;
}
.author{
    font-family: 'Crimson Text', sherif;
    font-size: 1.5rem;
    font-style: intalic;
}